@import url('./global.css');

/**
* header
*/

header {
  width: 100%;
  height: 122px;
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  color: var(--color-gray);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 24px;
}

header nav ul li:not(:first-of-type) {
  margin-left: 20px;
}
