@import url('./global.css');

/**
* header
*/

header {
  width: 100%;
  height: 122px;
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 20px rgba(159, 159, 159, 0.65);
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  color: var(--color-gray);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 24px;
}

header nav ul li:not(:first-of-type) {
  margin-left: 20px;
}

header a {
  color: var(--color-gray);
  text-decoration: none;
}

/** section de promotion e button **/
section.promotion {
  width: 100%;
  height: 60px;
  background-color: var(--color-pink);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);

  position: sticky;
  top: 0;

}

section.promotion p {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}

button.up {
  width: 60px;
  height: 60px;
  border: 0;
  background-color: var(--color-gray);
  color: var(--color-white);
  border-radius: 50%;
  cursor: pointer;

  position: fixed;
  right: 20px;
  bottom: 50vh;

  display: flex;
  align-items: center;
  justify-content: center;
}