<header>
  <div class="container">
    <img src="/images/dog.png" alt="Logo">

    <nav>
      <ul>
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/pets">Ver todos os pets</a>
        </li>
      </ul>
    </nav>
  </div>
</header>