<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', {title: 'Login'}) %>
<body>
  <form action="/" method="POST">
    <div>
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email">
    </div>

    <div>
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password">
    </div>

    <div>
      <label for="remember">Manter logado?:</label>
      <input type="checkbox" id="remember" name="remember">
    </div>

    <button type="submit">Entrar</button>

    <br>

    <a href="/user">Cadastrar</a>
  </form>
</body>
</html>