<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', {title: 'Editar'}) %>
<body>
	<div>
		<h2>Você está editando: NOME DO PRODUTO</h2>

		<form action="/products/edit/ID_PRODUTO" method="POST">
			<div>
				<label for="name">Nome do produto:</label>
				<input type="text" id="name" name="name" required>
			</div>

			<div>
				<label for="price">Preço do produto:</label>
				<input type="number" id="price" name="price" required>
			</div>

			<div>
				<label for="discount">Desconto:</label>
				<input type="number" id="discount" name="discount" required>
			</div>

			<div>
				<label for="category">Categoria:</label>
				<select name="category" id="category" required>
					<option value="">Escolher</option>
					<option value="in-sale">Em oferta</option>
					<option value="visited" >Últimos adicionados</option>
				</select>
			</div>

			<div>
				<label for="description">Descrição:</label>
				<textarea name="description" id="description">DESCRIÇÃO DO PRODUTO</textarea>
			</div>

			<button type="submit">Salvar produto</button>
		</form>
	</div>
</body>	
</html>