@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&family=Ubuntu:wght@300&display=swap');

:root {
  --color-white: #FFF;
  --color-dark-gray: #888;
  --color-light-gray: #AAA;
  --color-7-gray: #777;
  --color-5-gray: #555;

  --color-bg-footer: #333;
  --color-bg-card: #EEE;

  --color-arrow-container: #8D8D8D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
}

html, body {
  width: 100vw;
}
/** classe comum **/
main {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 44px;
}

header {
  width: 100%;
  height: 50px;
  padding: 18px 31px 18px 44px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

header .logo-container {
  display: flex;
  align-items: center;
  max-width: 120px;
  width: 100%;
}

header .logo-container h3 {
  color: var(--color-7-gray);
  text-transform: uppercase;
  font-size: 30px;
}

header .logo-container p {
  color: var(--color-light-gray);
  font-size: 10px;
  margin-left: 8px;
}

header img {
  cursor: pointer;
}

.banner {
  width: 100%;
  height: 400px;
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.banner .arrow-container {
  background-color: rgba(141, 141, 141, 0.62);
  height: 39px;
  width: 39px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.banner img {
  max-width: 10px;
  width: 100%;
  height: 18px;
}

section.home-container {
  display: flex;
  justify-content: space-between;
}

article {
  max-width: 512px;
  width: 100%;
  background-color: var(--color-bg-card);
  margin-top: 40px;
}

article .card-image-1 {
  width: 100%;
  height: 144px;
  background-image: url('../images/home1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

article .card-image-2 {
  width: 100%;
  height: 144px;
  background-image: url('../images/home2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

article .card-title {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 20px;
}

article .card-title h1 {
  color: var(--color-dark-gray);
  font-size: 25px;
  font-weight: normal;
}

article .card-title .tag {
  width: 48px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-weight: normal;
  font-size: 20px;
  border-radius: 10.5px;
}

.green {
  background-color: #51D275;
}

.orange {
  background-color: #DC9730;
}

article p {
  font-size: 10px;
  color: var(--color-5-gray);
  font-weight: normal;
  margin-top: 15px;
  padding: 0 20px 20px;
}

h1.title {
  margin-top: 60px;
  margin-bottom: 27px;
  width: 100%;
  text-align: center;
  color: var(--color-dark-gray);
  font-weight: normal;
}

.background-as-image {
  width: 100%;
  height: 80px;
  margin-top: 13px;
  display: flex;
  color: var(--color-white);
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
}

.industrial {
  background-image: url('../images/home2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  opacity: 0.8;
}

.modern {
  background-image: url('../images/home2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.classic {
  background-image: url('../images/home2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

footer {
  background-color: var(--color-bg-footer);
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  padding: 40px 120px;
  color: var(--color-white);
  justify-content: space-between;
}

footer .map {
  max-width: 252px;
  width: 100%;
  height: 163px;
  background-image: url('../images/map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer p, h5 {
  margin-top: 10px;
}

footer h5 {
  text-transform: uppercase;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

footer img {
  cursor: pointer;
}

@media (max-width: 768px) {
  section.home-container {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }
}