<header>
  <img src="/images/logo.svg" alt="Tasks App">

  <nav>
    <ul>
      <li class="<%= pageSelected === 'home' ? 'selected' : null %>"><a href="/">Home</a></li>
      <li class="<%= pageSelected === 'tasks' ? 'selected' : null %>"><a href="/tasks">Tasks</a></li>
      <li class="<%= pageSelected === 'profile' ? 'selected' : null %>"><a href="/profile">Meu perfil</a></li>
      <li><a href="/logout">Sair</a></li>
    </ul>
  </nav>
</header>
