@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* CSS EXTERNO */
/* body {
  background-color: purple;
  color: white;
} */

/* selecionando uma tag */
/* h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
} */

/* selecionando uma classe */
/* .titulo {
  font-size: 32px;
} */
/* selecionando um id */
/* #sessaoDeArtigos {

} */

/* h1:hover {
  color: darkgreen;
  cursor:not-allowed;
} */

