ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    text-decoration: none;
}

header.algumaCoisa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

header ul li.algumaCoisa {
    color: #FFF;
}