header {
    background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
    height: 100px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    
    color: #fff;
    width: 50%;
    align-self: center;
    align-items: center;

}

a {
    text-decoration: none;
    color: #FFF;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}