@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;700&display=swap');

article {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
  border-radius: 5px;
  max-width: 900px;
  width: 100%;
  padding: 25px;
  margin-bottom: 50px;
}

.caixa {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.caixa span {
  color: #9B9B9B;
}

article > h3 {
  color: #1A202C;
  font-size: 26px;
  line-height: 32px;
  margin-bottom: 8px;
}

p {
  font-size: 18px;
  line-height: 32px;
  color: #717171;
}

.post-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;     /* fallback */
  max-height: 32px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}