<!DOCTYPE html>
<html>
  <%- include('./partials/head', { page: 'home', pageName: 'Home' }) %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <section>
       <article class="we-are">
        <h1>We are <u>Rescue Pets</u>!</h1>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
        amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
        amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
        amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed.</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
          amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
          amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
          amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
          amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed.</p>
       </article>

       <article>
         <img src="/images/pets2.svg" alt="Pets">
       </article>
      </section>

      <section class="where-find-us">
        <article>
          <img src="/images/find-us.svg" alt="find us">
        </article>

        <article>
          <h1>Where <u>find us</u>?</h1>
  
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
          amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
          amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
          amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed.</p>
          <br>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
            amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
            amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
            amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam molestiae perspiciatis illum, reiciendis a saepe 
            amet earum iste debitis dolore libero rem explicabo reprehenderit excepturi corporis odit vero sed.</p>
         </article>
      </section>
    </main>

    <%- include('./partials/footer') %>

  </body>
</html>
