<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', { pageName: 'Cadastro' }) %>
</head>
<body>
  <main class="form-main">
    <section class="image-section">
      <img src="/images/register.svg" alt="Tasks completed">
    </section>

    <section class="form-section">
      <form action="/" method="POST">
        <h3>Faça seu cadastro!</h3>

        <input type="text" name="name" id="name" placeholder="Insira seu nome e sobrenome">
        <input type="email" name="email" id="email" placeholder="email@exemplo.com">
        <input type="password" name="password" id="password" placeholder="Insira sua senha">
        <input type="submit" value="Cadastrar">

        <a href="/login">Já possui cadastro? Entre!</a>

      </form>
    </section>
  </main>
</body>
</html>